# Osnovna koda za simulacijo igre

In [9]:

from bacc import build_shoe, draw, hand_value, first_deal, banker_draws_third, decide_outcome, values

In [10]:
def play_bacc(shoe):

    # Ensure enough cards before the hand starts.
    if len(shoe) < 6:
        shoe[:] = build_shoe(8)
    # We first deal the initial two hands.
    player, banker = first_deal(shoe)

    # Computing the initial values of each hand.
    player_total = hand_value(player)
    banker_total = hand_value(banker)

    # Natural wins:
    if player_total in {8, 9} or banker_total in {8, 9}:
        return decide_outcome(player_total, banker_total) # tuki bi lahko mogoče returnala use statse po koncu igre?
    
    else:
        player_third = None
        if player_total <= 5:
            player_third = draw(shoe)
            player.append(player_third)
            player_total = hand_value(player)

        banker_third = None

        if player_third is None:
            # Player didn't draw a third card
            # Banker draws on 0–5, stands on 6–7
            if banker_total <= 5:
                banker_third = draw(shoe)
                banker.append(banker_third)
                banker_total = hand_value(banker)
        
        else:
            # Player drew a third card
            player_third_value = values[player_third]
            if banker_draws_third(banker_total, player_third_value):
                banker_third = draw(shoe)
                banker.append(banker_third)
                banker_total = hand_value(banker)

        return decide_outcome(player_total, banker_total)

# Osnovni rezultati

In [13]:
import pandas as pd

Treba je narisat grafe in lepe tabele

In [14]:
df = pd.read_csv("baccarat_results.csv")
df

  Outcome  Wins
0  Player   461
1  Banker   442
2     Tie    97