# Osnovna koda za simulacijo igre

In [2]:

from bacc import build_shoe, draw, hand_value, first_deal, banker_draws_third, decide_outcome, values

In [3]:
def play_bacc(shoe):

    # Ensure enough cards before the hand starts.
    if len(shoe) < 6:
        shoe[:] = build_shoe(8)
    # We first deal the initial two hands.
    player, banker = first_deal(shoe)

    # Computing the initial values of each hand.
    player_total = hand_value(player)
    banker_total = hand_value(banker)

    # Natural wins:
    if player_total in {8, 9} or banker_total in {8, 9}:
        return decide_outcome(player_total, banker_total) # tuki bi lahko mogoče returnala use statse po koncu igre?
    
    else:
        player_third = None
        if player_total <= 5:
            player_third = draw(shoe)
            player.append(player_third)
            player_total = hand_value(player)

        banker_third = None

        if player_third is None:
            # Player didn't draw a third card
            # Banker draws on 0–5, stands on 6–7
            if banker_total <= 5:
                banker_third = draw(shoe)
                banker.append(banker_third)
                banker_total = hand_value(banker)
        
        else:
            # Player drew a third card
            player_third_value = values[player_third]
            if banker_draws_third(banker_total, player_third_value):
                banker_third = draw(shoe)
                banker.append(banker_third)
                banker_total = hand_value(banker)

        return decide_outcome(player_total, banker_total)

# Osnovni rezultati

In [33]:
import pandas as pd
from simulations import banker_no_commission_ev

Treba je narisat grafe in lepe tabele, 10000 iger zaenkrat da ne traja tok

In [36]:
df = pd.read_csv("baccarat_results.csv")
df

  Outcome  Win percentage
0  Player          0.4473
1  Banker          0.4590
2     Tie          0.0937

# EV

In [37]:
df2 = pd.read_csv("baccarat_EV.csv")
df2

  Outcome  Expected value
0  Player        -0.01170
1  Banker        -0.01125
2     Tie        -0.15670

EV za bankerja, če ne bi bilo commissiona

In [35]:
print(banker_no_commission_ev)

0.0117

<img src="ev_per_bet.png" width="600">

EV skozi čas

<img src="ev_konvergenca.png" width="650">